
.icon-rrtngg_like_unlike_face_1_like:before { content: '\e800'; } /* '' */
.icon-rrtngg_like_unlike_thumbs_1_like:before { content: '\e801'; } /* '' */
.icon-rrtngg_like_unlike_face_1_unlike:before { content: '\e802'; } /* '' */
.icon-rrtngg_like_unlike_thumbs_1_unlike:before { content: '\e803'; } /* '' */
.icon-rrtngg-star-fill:before { content: '\e804'; } /* '' */
.icon-rrtngg-star-empty:before { content: '\e805'; } /* '' */
.icon-rrtngg_like_unlike_check_1_like:before { content: '\e806'; } /* '' */
.icon-rrtngg_like_unlike_check_1_unlike:before { content: '\e807'; } /* '' */
.icon-rrtngg_like_unlike_weather_1_like:before { content: '\e80c'; } /* '' */
.icon-rrtngg_like_unlike_face_3_like:before { content: '\e814'; } /* '' */
.icon-rrtngg_like_unlike_face_3_unlike:before { content: '\e815'; } /* '' */
.icon-rrtngg_like_unlike_heart_2_like:before { content: '\e816'; } /* '' */
.icon-rrtngg_like_unlike_heart_1_like:before { content: '\e817'; } /* '' */
.icon-rrtngg_like_unlike_heart_2_unlike:before { content: '\e818'; } /* '' */
.icon-rrtngg_like_unlike_weather_1_unlike:before { content: '\e81a'; } /* '' */
.icon-rrtngg_like_unlike_heart_1_unlike:before { content: '\f028'; } /* '' */
.icon-rrtngg_like_unlike_face_2_like:before { content: '\f118'; } /* '' */
.icon-rrtngg_like_unlike_face_2_unlike:before { content: '\f119'; } /* '' */
.icon-rrtngg_like_unlike_thumbs_2_like:before { content: '\f164'; } /* '' */
.icon-rrtngg_like_unlike_thumbs_2_unlike:before { content: '\f165'; } /* '' */
